{%extends 'candidate/base.html'%}
{%block body_block%}
<div class="row">
    {%for job in jobs%}
    <div class="col-4 mt-5 ">
        <div class="card" style="width: 65%;">
            <img class="card-img-top" src="{{job.company.employer.logo.url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{job.job_title}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{job.salary}}</li>
                <li class="list-group-item">{{job.location}}</li>
            </ul>
            <div class="card-body">
                <a href="{%url 'cand-job-detail' job.id%}" class="card-link">View More</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}