{%extends 'base.html'%}
{%block body_block%}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card" style="width: 50%">
  <img class="card-img-top" src="{{application.applicant.candidate.profile_pic.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{application.applicant.username}}</h5>
    <p class="card-text">Some quick example </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Qualification :{{application.applicant.candidate.qualification}}</li>
    <li class="list-group-item">Skills :{{application.applicant.candidate.skills}}</li>
    <li class="list-group-item">Experience : {{application.applicant.candidate.experience}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link btn btn-outline-success">Accept</a>
    <a href="#" class="card-link btn btn-outline-danger">Reject</a>
  </div>
</div>
    </div>
    <div class="col-3"></div>

</div>

{%endblock%}